.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px; /* Tamaño de texto más pequeño */
    color: white;
    text-align: center;
}

.pin {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}